<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Connection1</key>
	<dict>
		<key>Charset</key>
		<string>2147483677</string>
		<key>ConnectionID</key>
		<string>C32AAF6A-B82E-49AA-B409-FBE908FD9674</string>
		<key>DisplayName</key>
		<string>jsjsjsndmdldd</string>
		<key>FTPProtocolType</key>
		<string>SETTING_PROTOCOL_FTPES_IF_AVAILABLE</string>
		<key>HostURL</key>
		<string>ftp://192.168.1.68/</string>
		<key>ProtocolType</key>
		<integer>7</integer>
		<key>SortID</key>
		<string>1</string>
		<key>TransferMode</key>
		<string>SETTING_FTP_PASSIVE</string>
		<key>UserName</key>
		<string></string>
	</dict>
	<key>ContinuePlayback</key>
	<true/>
	<key>ConvertHeicToJpg</key>
	<true/>
	<key>ExportConnectionPassword</key>
	<false/>
	<key>ExportLivePhoto</key>
	<true/>
	<key>FTPManagerSettings</key>
	<true/>
	<key>Language</key>
	<string>en</string>
	<key>MaxCacheSize</key>
	<integer>1024</integer>
	<key>ShowHiddenFiles</key>
	<true/>
	<key>ShowICloudDrive</key>
	<false/>
	<key>ShowNearbyDevices</key>
	<false/>
	<key>VersionUUID</key>
	<string>43FA1339-DA2D-4437-8C43-37DA0BC4854C</string>
	<key>VideoPlaybackInBackground</key>
	<false/>
</dict>
</plist>
